h1{
	font-size: 2.3em;
	text-align: left;
	color: #5DADE2 ;
}

h2{
	font-size:1.6em;
	text-align: center;
	color: #1D6113;
}

body{
    background-image: url("mog_background.htm");
    background-color: #000000;
}

div.scrollmenu {
	background-image:linear-gradient(90deg, green, blue);
	background-color: #333;
	overflow:auto;
	white-space: nowrap;
}

div.scrollmenu a{
	display: inline-block;
	color: white;
	text-align: center;
	padding:14px;
	text-decoration: none;
}

div.scrollmenu a:hover{
	background-color:#777;
}